src/main/mule/assignment-19-udaan.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44bc2ee9-b952-4387-b191-e27ec3ac2a1a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignment-19-udaanFlow" doc:id="4d9b3873-979c-42fd-8c87-5df509ab0a40" >
		<http:listener doc:name="GET /assignment" doc:id="99f649a2-acef-4e93-87a3-2f75da78ba70" config-ref="HTTP_Listener_config" path="/assignment"/>
		<ee:transform doc:name="Message" doc:id="de40beaa-f904-4eb4-9388-c38575fc6df9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "A simple mule project."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Payload Logger" doc:id="c801916e-4bef-4b49-85d9-3c037510573f" message="#[payload]"/>
	</flow>
</mule>
